<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	<bean id="jack"
		class="com.raylee.my_new_spring.my_new_spring.ch01.topic_1_1.Singer">
		<constructor-arg ref="song1" />
	</bean>
	<bean id="song1"
		class="com.raylee.my_new_spring.my_new_spring.ch01.topic_1_1.Song">
		<constructor-arg value="my heart will go on" />
	</bean>
	<bean id="rose"
		class="com.raylee.my_new_spring.my_new_spring.ch01.topic_1_1.Singer">
		<constructor-arg ref="song2" />
	</bean>
	<bean id="song2"
		class="com.raylee.my_new_spring.my_new_spring.ch01.topic_1_1.Song">
		<constructor-arg value="there will be" />
	</bean>

</beans>
